security-reports/
all-reports/
audit-report/
security-summary.md
trivy-fs-report.txt
trivy-config-report.txt
*.log
*.zip
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/
.env

# Keys
*.pem

# Terraform
.terraform/
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
